{% extends "layout.html" %} {% block content %}
<div class="flex flex-col gap-5 w-fit">
  <div id="upload-container" class="px-5 py-16 border-2 border-accent border-dashed w-full text-center">
    <input type="file" id="upload-file" multiple class="hidden" />
    <label for="upload-file" class="">Drag or drop file here</label>
  </div>
  <input type="file" class="file-input file-input-accent w-full max-w-xs" />
</div>
<script src="{{ url_for('static', filename='script/uploadFile.js') }}"></script>
{% endblock %}
